USE [master]
GO
/****** Object:  Database [LaboratorioBaseDeDatos]    Script Date: 3/3/2018 09:19:38 ******/
CREATE DATABASE [LaboratorioBaseDeDatos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LaboratorioBaseDeDatos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\LaboratorioBaseDeDatos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LaboratorioBaseDeDatos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\LaboratorioBaseDeDatos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LaboratorioBaseDeDatos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LaboratorioBaseDeDatos]
GO
USE [LaboratorioBaseDeDatos]
GO
/****** Object:  Table [dbo].[Guiso]    Script Date: 3/3/2018 09:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guiso](
	[papa] [nchar](10) NULL,
	[picadillo] [nchar](10) NULL,
	[huevo] [nchar](10) NULL,
	[chicharron] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NumeroTacos]    Script Date: 3/3/2018 09:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumeroTacos](
	[id] [uniqueidentifier] NOT NULL,
	[taco] [int] NULL,
 CONSTRAINT [PK_NumeroTacos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 3/3/2018 09:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[efectivo] [money] NULL,
	[tarjeta] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Refresco]    Script Date: 3/3/2018 09:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Refresco](
	[coca_normal] [nchar](10) NULL,
	[coca_light] [nchar](10) NULL,
	[coca_sabor] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taco]    Script Date: 3/3/2018 09:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taco](
	[id] [uniqueidentifier] NOT NULL,
	[guiso] [nchar](10) NULL,
	[tortilla] [nchar](10) NULL,
 CONSTRAINT [PK_Taco] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tortilla]    Script Date: 3/3/2018 09:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tortilla](
	[harina] [nchar](10) NOT NULL,
	[maiz] [nchar](10) NULL,
 CONSTRAINT [PK_Tortilla_1] PRIMARY KEY CLUSTERED 
(
	[harina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
